
/*font*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

/*general*/

body {
    font-family: 'Poppins', sans-serif;
    color: #777;
    font-size: 14px;
    background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #333;
    letter-spacing: 1px;
}

p {
    margin: 8px 0;
    line-height: 24px;
}

a {
    color: #111;
}

a:hover {
    color: #111;
    text-decoration: none;
}

a.button {
    display: inline-block;
}

a:focus {
    text-decoration: none;
    outline: 0;
}

.segments {
    padding: 85px 0 85px;
}

.segments-page {
    background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)), url('../images/intro.jpg');
    height: 320px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.segments-page .page-caption {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

.segments-page .page-caption h2 {
    color: #fff;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 700;
}

.section-title {
    margin-bottom: 50px;
}

.section-title h3 {
    font-size: 28px;
    font-weight: 700;
    border-left: 4px solid #43a047;
    padding-left: 20px;
    text-align: left;
}

.bg-second {
    background-color: #f8f8f8;
}

.bg-light {
    background-color: #fff;
}


/*loader*/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: #fafafa;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    border-radius: 50%;
    background-color: #43a047;
    -webkit-animation: mymove 1s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: mymove 1s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@keyframes mymove {
    0% {
        -webkit-transform: scale(0);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: scale(0);
        /* IE 9 */
        transform: scale(0);
        /* Firefox 16+, IE 10+, Opera */
    }
    50% {
        -webkit-transform: scale(1, 1);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: scale(1, 1);
        /* IE 9 */
        transform: scale(1, 1);
        /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
    100% {
        -webkit-transform: scale(1, 1);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: scale(1, 1);
        /* IE 9 */
        transform: scale(1, 1);
        /* Firefox 16+, IE 10+, Opera */
        opacity: 0;
    }
}


/*button default*/

.button {
    background-color: #43a047;
    color: #fff;
    position: relative;
    padding: 8px 20px;
    border: 0;
    margin-top: 25px;
    font-size: 14px;
    z-index: 0;
    border-radius: 2px;
    transition: all .4s ease;
}

.button:hover {
    background-color: #fff;
    color: #333;
}


/*navbar*/

.navbar {
    padding: 10px 0;
}

.navbar-ng {
    background: transparent;
    border-color: transparent;
}

.navbar .navbar-brand {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .5s ease;
    color: #fff;
}

.navbar .navbar-brand span {
    color: #43a047;
}

.navbar .navbar-brand:hover {
    color: #fff;
}

.navbar .navbar-nav li {
    margin: 0 10px;
}

.navbar .navbar-nav li:last-child {
    margin-right: 0;
}

.navbar .navbar-nav li a {
    color: #fafafa;
    font-size: 14px;
    font-weight: 500;
}

.navbar .navbar-nav li a:hover {
    color: #fff;
    transition: .5s ease;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle i {
    color: #fff;
    font-size: 18px;
}

.navbar-default .navbar-collapse {
    border-color: #fff;
}


/*home intro*/

.home-intro {
    background: linear-gradient( rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.60)), url('../images/intro.jpg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.home-intro .intro-caption {
    position: absolute;
    top: 42%;
    left: 0;
    right: 0;
    color: #fff;
    text-align: center;
}

.home-intro .intro-caption h2 {
    color: #fff;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 700;
}

.home-intro .intro-caption p {
    margin: 0 32%;
}

#particles-js {
    width: 100%;
    height: 100%;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}


/*services*/

.services .content {
    background: #fff;
    border-radius: 5px;
    text-align: center;
    padding: 40px 25px;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
    transition: all .3s ease;
}

.services .content:hover {
    box-shadow: 0 10px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
}

.services .content i {
    color: #43a047;
    font-size: 50px;
    margin-bottom: 12px;
}


/*work*/

.work .row .col-md-4 {
    padding: 15px;
}

.work .work-menu {
    margin-bottom: 30px;
}

.work .work-menu ul {
    padding: 0;
    margin: 0;
}

.work .work-menu ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    padding: 6px 22px;
    border: 2px solid #43a047;
    border-radius: 3px;
    transition: .5s ease;
}

.work .work-menu ul li:first-child {
    margin-left: 0;
}

.work .work-menu ul li:hover {
    background-color: #43a047;
    color: #fff;
}

.work .work-menu ul .active {
    background-color: #43a047;
    color: #fff;
    transition: all .4s ease;
}

.work .content {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 0 0 8px 8px;
}

.work .content-image {
    position: relative;
    overflow: hidden;
}

.work .content-image img {
    width: 100%;
}

.work .content-image .work-caption {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.86);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all .3s ease;
    padding: 38% 28%;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: auto;
}

.work .content:hover .work-caption {
    opacity: 1;
    border-radius: 0;
    width: 96%;
    height: 95%;
}

.work .content-image .work-caption a i {
    color: #fff;
    font-size: 20px;
    background: #43a047;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    line-height: 40px;
    transform: scale(0, 0);
    border: 2px solid #43a047;
}

.work .content:hover .work-caption a i {
    transform: scale(1, 1);
    transition-duration: .2s;
    transition-delay: .3s;
}

.work .content .work-caption a i:hover {
    background-color: #fff;
    color: #333;
    transition: all .5s ease;
}

.work .content-text {
    background-color: #fafafa;
    border-radius: 0 0 8px 8px;
    padding: 20px;
}


/*pricing*/

.pricing .content {
    padding: 30px;
    text-align: center;
    background: #fff;
    margin: 0;
    position: relative;
    transition: all .3s ease;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0)
}

.pricing .content:hover {
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.05);
    transform: translateY(-15px);
}

.pricing .content-two:hover {
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.17);
    transform: translateY(-15px);
}

.pricing .content .lines {
    margin: 0 auto;
    background-color: #43a047;
    width: 0;
    height: 2px;
}

.pricing .content:hover .lines {
    -webkit-transition: width 1s;
    transition: width 1s;
    width: 100%;
}

.pricing .content .title {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
}

.pricing .content .title .lined {
    position: absolute;
    bottom: 0;
    background: #43a047;
    width: 40px;
    height: 2px;
    margin: 0 auto;
    text-align: center;
    left: 42%;
}

.pricing .content .title h4 {
    font-size: 22px;
    z-index: 1;
}

.pricing .content .price {
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    padding-top: 30px;
    margin-bottom: 24px;
}

.pricing .content .price p {
    font-size: 42px;
    color: #43a047;
}

.pricing .content .price p span {
    font-size: 23px;
    position: relative;
    top: -11px;
    margin-right: 5px;
    color: #444;
    font-size: 16px;
}

.pricing .content ul {
    padding: 0;
    margin: 0;
}

.pricing .content ul li {
    list-style-type: none;
    margin: 15px;
}

.pricing .content ul li:last-child {
    margin-bottom: 0;
}

.pricing .content-two {
    background-color: #333;
}

.pricing .content-two .title h4 {
    color: #fafafa;
}

.pricing .content-two ul li {
    color: #fafafa;
}

.pricing .content .button:hover {
    background: transparent;
    box-shadow: 0 0px 18px rgba(0, 0, 0, 0.2);
}

.pricing .content-two .button:hover {
    background: #fff;
    box-shadow: none;
}


/*features*/

.features .content {
    background: #fff;
    border-radius: 5px;
    text-align: left;
    padding: 40px 25px;
    box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.03), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
    margin-bottom: 30px;
    transition: all .3s ease;
}

.features .content:hover {
    box-shadow: 0 10px 17px 2px rgba(0, 0, 0, 0.06), 0 3px 14px 2px rgba(0, 0, 0, 0), 0 5px 5px -3px rgba(0, 0, 0, 0);
}

.features .content i {
    color: #43a047;
    font-size: 50px;
    margin-bottom: 12px;
}


/*testimonial*/

.testimonial-section {
    background: linear-gradient(rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.94)), url('../images/testimonial.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

.testimonial-section .section-title h3 {
    color: #fff;
}

.testimonial .content {
    text-align: center;
    width: 60%;
    margin: auto;
}

.testimonial .content i {
    font-size: 45px;
}

.testimonial .content img {
    width: 65px;
    margin-top: 0px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

.testimonial .content p:first-child {
    margin-top: 0;
}

.testimonial .content .title {
    margin-top: 15px;
}

.testimonial .content .title h4 {
    margin-bottom: 6px;
    color: #fff;
}

.testimonial .content .title span {
    color: #eee;
}

.testimonial .content .title ul {
    padding: 0;
    margin: 0;
    margin: 5px 0;
}

.testimonial .content .title ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0 1px;
}

.testimonial .content .title ul li i {
    font-size: 15px;
    color: #43a047;
}

.testimonial .owl-theme .owl-dots {
    text-align: center;
    margin-top: 16px;
    display: none;
}

.testimonial .owl-theme .owl-dots .active span {
    background: #43a047;
}

.testimonial .owl-next {
    position: absolute;
    top: 42%;
    right: 0;
    width: 40px;
    height: 40px;
    background: transparent !important;
    overflow: hidden;
    border-radius: 0 !important;
    transition: all .5s ease;
}

.testimonial .owl-next:before {
    content: "\f112";
    font-family: 'fontAwesome';
    color: #fff;
    display: block;
    background-color: #43a047;
    font-size: 26px;
}


.testimonial .owl-prev {
    position: absolute;
    top: 42%;
    left: 0;
    width: 40px;
    height: 40px;
    background: transparent !important;
    overflow: hidden;
    border-radius: 0 !important;
    transition: all .5s ease;
}

.testimonial .owl-prev:before {
    content: "\f111";
    font-family: 'fontAwesome';
    color: #fff;
    display: block;
    background-color: #43a047;
    font-size: 26px;
}


/* blog */

.blog .content .image {
    position: relative;
}

.blog .content .image img {
    width: 100%;
}

.blog .content .image .date {
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 14px;
    transition: all .4s ease;
    background-color: #43a047;
    border-radius: 0 0 2px 2px;
}

.blog .content:hover .image .date {
    padding-bottom: 50px;
}

.blog .content .image .date ul {
    padding: 0;
    margin: 0;
}

.blog .content .image .date ul li {
    list-style-type: none;
}

.blog .content .text {
    padding: 20px;
    background-color: #f8f8f8;
}

.blog .content .text h4 {
    margin-bottom: 10px;
}

.blog .content .text h4:hover {
    color: #43a047;
    transition: all .3s ease;
}

.blog .content h4:hover {
    color: #43a047;
    transition: all .3s ease;
}

.blog .content .text .button {
    display: inline-block;
    margin-top: 10px;
    border: 2px solid #43a047;
}

.blog .next-page {
    text-align: center;
    margin-top: 50px;
}

.blog .next-page .button {
    display: inline-block;
    border: 2px solid #43a047;
    margin: 0;
}

.blog-page .second-row {
    margin-top: 30px;
}

.blog-page .pagination {
    display: block;
    margin-top: 30px;
    margin-bottom: 0;
}

.blog-page .pagination ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.blog-page .pagination ul li {
    list-style-type: none;
    width: 40px;
    height: 40px;
    background: #f8f8f8;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    margin: 0 6px 0;
}

.blog-page .pagination ul .active {
    background: #43a047;
    color: #fff;
}


/*blog single*/

.blog-single .content-left img {
    width: 100%;
}

.blog-single .content-left .date ul {
    padding: 0;
    margin: 0;
}

.blog-single .content-left .title h4 {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

.blog-single .content-left .date {
    margin-bottom: 20px;
}

.blog-single .content-left .date ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}

.blog-single .content-left .date ul li:last-child {
    margin-right: 0;
}

.blog-single .content-left .date ul li:not(:first-child):not(:last-child) {
    color: #999;
    font-weight: 500;
}

.blog-single .content-left .date ul li i {
    margin-right: 5px;
}

.blog-single .content-left .quote {
    margin: 20px 0;
    border-left: 3px solid #999;
    padding: 20px;
    background: #f4f8fa;
    font-weight: 500;
}

.blog-single .content-left .tags {
    margin-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
}

.blog-single .content-left .tags h5 {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 500;
    font-size: 18px;
}

.blog-single .content-left .tags ul {
    padding: 0;
    margin: 0;
}

.blog-single .content-left .tags ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #ddd;
    margin-right: 8px;
}

.blog-single .content-left .tags ul li:hover {
    background-color: #f7f7f7;
    transition: all .3s ease;
}

.blog-single .content-left .tags ul li:last-child {
    margin-right: 0;
}

.blog-single .content-left .author {
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}

.blog-single .content-left .author .image img {
    width: calc(100% - 70%);
    float: left;
    margin-right: 20px;
}

.blog-single .content-left .author .text {
    overflow: hidden;
}

.blog-single .content-left .author .text h4 {
    margin-bottom: 5px;
}

.blog-single .content-left .author .text span {
    display: inline-block;
}

.blog-single .content-left .author .wrap-media {
    margin-top: 10px;
}

.blog-single .content-left .author .wrap-media ul {
    padding: 0;
    margin: 0;
}

.blog-single .content-left .author .wrap-media ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
    font-size: 16px;
}

.blog-single .content-left .comment-people {
    display: inline-block;
}

.blog-single .content-left .comment-people .content {
    margin-bottom: 15px;
}

.blog-single .content-left .comment-people .content:last-child {
    margin-bottom: 0;
}

.blog-single .content-left .comment-people h5 {
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 500;
}

.blog-single .content-left .comment-people .image img {
    width: calc(100% - 80%);
    float: left;
    margin-right: 20px;
}

.blog-single .content-left .comment-people .text {
    overflow: hidden;
}

.blog-single .content-left .comment-people .text h4 {
    margin-bottom: 5px;
}

.blog-single .content-left .comment-people .text ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.blog-single .content-left .comment-people .text ul li {
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    font-size: 13px;
}

.blog-single .content-left .wrap-form {
    margin-top: 25px;
}

.blog-single .content-left .wrap-form h5 {
    margin-bottom: 20px;
    font-size: 18px;
}

.blog-single .content-left .wrap-form input {
    margin-bottom: 15px;
}

.blog-single .content-left .wrap-form input,
.blog-single .content-left .wrap-form textarea {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #ddd;
    transition: .3s ease;
}

.blog-single .content-left .wrap-form input:focus,
.blog-single .content-left .wrap-form textarea:focus {
    border-color: #43a047;
}

.blog-single .content-left .wrap-form .button {
    border: 2px solid #43a047;
}

.blog-single .content-left .wrap-form .button:hover {
    color: #333;
}

.blog-single .content-right .search input {
    border: 1px solid #ddd;
    padding: 8px 12px;
    transition: all .3s ease;
    width: calc(100% - 20%);
}

.blog-single .content-right .search input:focus {
    border-color: #43a047;
}

.blog-single .content-right .button-search {
    border: 0;
    padding: 8px 12px;
    color: #fff;
    background: #43a047;
    border: 2px solid #43a047;
    margin-left: 10px;
    border-radius: 0;
    cursor: pointer;
    transition: all .4s ease;
}

.blog-single .content-right .button-search:focus {
    outline: 0 !important;
    box-shadow: none;
}

.blog-single .content-right .button-search:hover {
    background-color: transparent;
    border-color: #43a047;
    color: #333;
}

.blog-single .content-right .categories {
    margin-top: 30px;
    margin-bottom: 30px;
}

.blog-single .content-right .categories h5 {
    margin-bottom: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-single .content-right .categories ul {
    padding: 0;
    margin: 0;
}

.blog-single .content-right .categories ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.blog-single .content-right .categories ul li:last-child {
    margin-bottom: 0;
}

.blog-single .content-right .categories ul li a {
    color: #444;
}

.blog-single .content-right .categories ul li a:hover {
    color: #43a047;
    transition: all .3s ease;
}

.blog-single .content-right .related-post h5 {
    margin-bottom: 20px;
    font-size: 18px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.blog-single .content-right .related-post ul {
    padding: 0;
    margin: 0;
}

.blog-single .content-right .related-post ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.blog-single .content-right .related-post ul li:last-child {
    margin-bottom: 0;
}

.blog-single .content-right .related-post ul li a {
    color: #444;
}

.blog-single .content-right .related-post ul li a:hover {
    color: #43a047;
    transition: all .3s ease;
}


/*contact*/

.contact {
    text-align: center;
}

.contact .wrapper-form {
    text-align: center;
}

.contact .content input,
.contact .content textarea {
    width: 100%;
    color: #333;
    background: #fff;
    transition: all .4s ease;
    border: 0;
    border: 1px solid #ddd;
}

.contact .content input {
    padding: 11px 15px;
    margin-bottom: 20px;
}

.contact .content textarea {
    padding: 10px 15px;
    border-radius: 0;
    box-shadow: none;
    background: #fff;
}

.contact .button {
    border: 2px solid #43a047;
}


/* placeholder */

::-webkit-placeholder {
    /* Chrome/Opera/Safari */
    color: #555;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #555;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #555;
}

::-moz-placeholder {
    /* Firefox 18- */
    color: #555;
}


/*footer*/

footer {
    background-color: #111;
    padding: 50px 0;
    text-align: center;
}

footer h2 {
    color: #fafafa;
    margin-bottom: 30px;
    font-weight: 600;
}

footer h2 span {
    color: #43a047;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer ul li {
    list-style-type: none;
    display: inline-block;
}

footer .wrap-terms {
    margin-bottom: 20px;
}

footer .wrap-terms ul li {
    padding: 0 10px;
}

footer .wrap-terms .border-r {
    border-right: 2px solid #888;
}

footer .wrap-terms .border-l {
    border-left: 2px solid #888;
}

footer .wrap-social {
    margin-bottom: 20px;
}

footer .wrap-social li {
    margin: 0 6px;
    font-size: 15px;
}

footer .wrap-social li a {
    color: #fafafa;
}

footer .wrap-social li a i {
    font-size: 25px;
}

footer .wrap-copyright p {
    margin: 0;
    color: #fafafa;
}


/*responsive*/

@media (max-width: 980px) {
    .navbar {
        padding: 10px 0 0;
        background-color: #fff !important;
    }
    .navbar .navbar-brand,
    .navbar-default .navbar-toggle i,
    .navbar-nav li a {
        color: #333 !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-toggle i {
        color: #fff;
        font-size: 22px !important;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
        border: 0;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        text-align: right;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
        padding: 10px 6px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-toggle {
        margin-right: 0;
        padding: 9px 0;
    }

    .navbar .navbar-nav li:last-child {
        margin-right: 10px;
    }

    .pricing .content {
        margin: 0;
    }

    .testimonial .content {
        width: 70%;
    }

    .home-intro .intro-caption p {
        margin: 0 25%;
    }

    .blog-single .content-right {
        margin-top: 50px;
        display: inline-block;
    }
}

@media (max-width: 768px) {
    .home-intro .intro-caption p {
        margin: 0 20%;
    }
}

@media (max-width: 640px) {
    .navbar-toggle {
        padding: 9px 14px;
    }
    .home-intro .intro-caption p {
        margin: 0 15%;
    }

    .services .content {
        margin-bottom: 30px;
    }

    .services .content.no-mb {
        margin-bottom: 0;
    }

    .pricing .content {
        margin-bottom: 30px;
    }

    .pricing .content.no-mb {
        margin-bottom: 0;
    }

    .features .content.no-mb {
        margin-bottom: 0;
    }

    .blog .content {
        margin-bottom: 30px;
    }

    .blog .content.no-mb {
        margin-bottom: 0;
    }

    .blog .second-row {
        margin-top: 0;
    }
}

@media (max-width: 480px) {
    .home-intro .intro-caption {
        position: absolute;
        top: 40%;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
    }

    .home-intro .intro-caption h2 {
        font-size: 38px;
    }

    .home-intro .intro-caption p {
        margin: 0 4%;
    }

    .work .work-menu ul li {
        margin-bottom: 10px;
    }

    .work .work-menu ul li:last-child {
        margin-bottom: 0;
        margin-left: 0;
    }
}

@media (max-width: 360px) {

    .home-intro .intro-caption {
        position: absolute;
        top: 32%;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
    }

    .work .work-menu ul li:last-child {
        margin-bottom: 0;
        margin-left: 10px;
    }

    .work .work-menu ul li:nth-child(3n) {
        margin-bottom: 0;
        margin-left: 0;
    }

    .blog-single .content-left .tags ul li {
        margin-bottom: 10px;
    }

    .blog-single .content-left .tags ul li:last-child {
        margin-bottom: 0;
    }

    .blog-single .content-left .tags ul li:nth-child(4n) {
        margin-bottom: 0;
    }
}



